body{
	padding: 2.218667rem 0 2.14rem 0;
}
.citys{
	position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
}
.city-header{
	height: 2.218667rem;
	width: 100%;
	position: fixed;
	top: 0;
	background: #fff;
	line-height: 2.218667rem;
	z-index: 3;
}
.city-title{
	text-align: center;
	font-size: 0.597333rem;
}
.find-icon{
	height: 1.28rem;
	width:1.28rem;
	position: absolute;
}
.find-icon img{
	width: 100%;
}
.find-icon-r{
	top: 0.426667rem;
	right: 3%;
}
.find-icon-l{
	top: 0.3rem;
	left: 3%;
	text-align: center;
}
.find-icon-l img{
	width: 80%;
}

.find-date{
	margin-top: 7px;
	display: flex;
	text-align: center;
	padding: 10px 0;
	border-bottom: 1px solid #f1f1f1;
	border-top: 1px solid #f1f1f1;
}
.find-date li{
	width: 50%;
}

.find-date a{
	font-size: 12px;
	color: #24CDCF;
}

.find-check{
	height: 2.048rem;
	line-height: 2.048rem;
	font-size: 0.682667rem;
	color: #24CDCF;
	text-align: center;
	border-bottom: 1px solid #f1f1f1;
}




.trip-list li{
	background: #fff;
	text-align: center;
	margin-bottom: 10px;
}
.trip-list li:last-child{
	margin: 0;
}
.trip-list li>a{
	display: block;
}
.trip-list li .list-img{
	height: 12.444446rem;
	margin-bottom:1.066667rem;
	position: relative;
}
.trip-list li .list-img img:nth-child(1){
	width: 100%;
	height: 100%;
}
.trip-list .ownimg{
	width:2.13rem;
	height: 2.13rem;
	border-radius: 50%;
	position: absolute;
	bottom: -1.065rem;
	left: 6.935rem;
}
.trip-list .own-info img{
	// width: 0.938667rem;
	height: 0.64rem;
	vertical-align: middle;
}
.trip-list li p:nth-of-type(2), .trip-list li p:nth-of-type(4){
	color: #999;
	font-size: 12px;
}
.trip-list li p:nth-of-type(2) span{
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}
.find-stars{
	text-align: left;
	padding: 0 20px;
}
.find-stars a{
	color: #24CDCF;
	font-size: 12px;
}
.find-stars .star{
	float: right;
}
.find-stars i{
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../img/icon_star_blue_25.png) center center no-repeat;
	background-size: contain;
}
