swiper-container{width: 100%;height: 100%;margin: 0;}
.swiper-slide{text-align: center;font-style:18px;background: #fff;display: flex;
	justify-content: center;align-items: center;display: block;width:100%;}
.swiper-slide img{width: 100%;}

#allp p{text-align: center;margin: 10px auto;}
#tab{height: 40px;}
#tab p{float: left;width: 50%;height: 40px;line-height: 40px;text-align: center;border-bottom: 1px solid rgb(162,162,162);}
#tab p:first-child{color: rgb(88,189,192);border-bottom: 1px solid rgb(88,189,192);}
