<link rel="stylesheet" type="text/css" href="./css/swiper.min.css">
	<div class="swiper-container" ng-controller="bannerCtrl" style="height: 8.746667rem;width: 16rem;">
	    <div class="swiper-wrapper">
	        <a ng-repeat="x in arr" class="swiper-slide"><img ng-src={{x.advPic}}></a>
	    </div>
	    <div class="swiper-pagination"></div>
	</div>
	<div class="home-main" ng-controller="homeMainCtrl">
		<a ng-repeat ="city in citys" ng-click="toCity(city.id)" ui-sref="city({cityId: city.id})">
			<img lazy-src={{city.mainPic}}>
			<span>
				<p>{{city.cityNameCh}}</p>
				<p>{{city.cityNameEn}}</p>
			</span>
		</a>
	</div>
	<a  class="home-bottom search-city" style="margin-bottom:2.134rem;" ui-sref='moreCity'>
		<img lazy-src="img/bottom.png"/>
		<span >
			点击查看更多城市
		</span>
	</a>