<link rel="stylesheet" type="text/css" href="css/luyingList.css"/>
<link rel="stylesheet" type="text/css" href="css/swiper.min.css">
	<div id="topback">
		<a ui-sref="luying"><img src="img/minePic/topbar_back.png" /></a><span>详情</span><a ui-sref="share"><img id="picShare" src="img/minePic/icon_spacedetail_share_blue.png" /></a>
	</div>
	<div class="swiper-container" ng-controller="luyingCtrl">
	    <div class="swiper-wrapper">
	        <a ng-repeat="x in arr" class="swiper-slide"><img ng-src={{x}}></a>
	    </div>
	    <!--<div class="swiper-pagination"></div>-->
	</div>

<div id="allp">
	<p style="color: black;font-size: 16px;">2016腾龙洞迷笛音乐节</p>
	<p>2016/09/15-2016/09/17</p>
	<img src="img/minePic/1f54ef4a-7cae-4cbf-b741-a081cae061b5.jpg" style="margin:2% 45% 0 45%;width: 8%;height: 8%;border-radius: 50%;"/>
	<p>恩施土家族苗族自治州</p>
	<p>湖北利川市&nbsp;腾龙洞风景区</p>
</div>

<div id="tab">
	<p>活动介绍</p><p>购买须知</p>
</div>
<p style="margin:10px 0 0 10px;text-indent: 20px;">请先办理露营再进入音乐节！</p>
<p style="margin:0 0 0 10px;text-indent: 20px;display: -webkit-box;overflow: hidden;text-overflow: ellipsis;word-break: break-all;-webkit-line-clamp: 2;-webkit-box-orient: vertical;">尽管音乐节时间延后，此前敲定的“中国摇滚先锋”崔健、中国口琴第一人杨乐、2015中国摇滚迷笛奖大赢家声音玩具、中文布鲁斯大师</p>
<p id="title">查看活动介绍 ></p>
<div id="white"></div>
<h3>商品详情</h3>
<ul ng-controller="luyingsCtrl" class="campList">
	<li ng-repeat ="x in luying">
		<!--<a ng-click="toluying(luying.id)" ui-sref="city({luyingId: luying.id})">-->
			<img ng-src={{x.coverPicUrl}}>
			<div class="content">
				<p>{{x.productName}}</p>
				<p>{{x.startDate | date:'yyyy/MM/dd'}} - {{x.endDate | date:'yyyy/MM/dd'}}</p>
				<p>{{x.amenities[0]+" "+x.amenities[1]+" "+x.amenities[2]+" "+x.amenities[3]+" "+x.amenities[4]}}</p>
				<p>订</p>
				<p>{{"￥"+x.price}}</p>
			</div>
		<!--</a>-->
	</li>
</ul>
